<div class="container margin-top">
    <div class="m-5 bg-nav px-5 py-4 borde">
        <h1 class="text-center text-primary font-weight-bold">Acepta el reto y postúlate en el Programa Becas de Excelencia de la Unimet</h1>

        <section class="text-justify text-font">
            <p class="mt-4">La Universidad Metropolitana inicia por octavo año consecutivo el proceso de postulación para el Programa de Becas Excelencia, con el propósito de promover la excelencia académica, el talento artístico y deportivo, el emprendimiento y el compromiso cívico de los jóvenes venezolanos.</p>

            <p>A través de este programa -y de la mano de patrocinantes aliados- la Unimet reafirma su vocación de servicio y su compromiso con el país, al fomentar los sueños y aspiraciones de desarrollo profesional de bachilleres que desean formarse en una de las instituciones más prestigiosas del país como lo es esta universidad, pero que carecen de los recursos económicos para hacerlo.</p>

            <p>Los aspirantes podrán optar por un cupo en cualquiera de las 15 carreras de pregrado ofertadas en esta casa de estudios, con distintos porcentajes de exoneración de la matrícula universitaria –hasta un 100%– y gastos de manutención, de acuerdo con las condiciones socioeconómicas del candidato.</p>

            <p>Además de cumplir con una serie de requisitos especificados en la página web de la Unimet, los preseleccionados deberán presentar la Prueba Diagnóstica de Ubicación, PDU, que se aplicará el 1 de noviembre. Los integrantes de la nueva cohorte de becarios de excelencia en cualquiera de sus categorías, deberán ingresar a la universidad en el período académico que iniciará en septiembre de 2020.</p>

            <p>Son más de 150 los jóvenes venezolanos que han cumplido su sueño de cursar estudios superiores en la Unimet, si como ellos eres un soñador, acepta el reto y postulate a partir del 2 de abril hasta el 11 de mayo de 2020 para formar parte de esta comunidad de emprendedores, solo tienes que registrarte, llenar la ficha de datos personales y solicitar la beca. ¡Tú también puedes!</p>
        </section
    </div>
</div>